{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block titile %}Групи{% endblock titile %}

{% block content %}
  <!-- Start Content Colums -->
  <div class="row"id="content-columns">
    <div class="col-xs-12"id="content-column">
      <a class="btn btn-primary" href="{% url "add_groups" %}">Додати групу</a>
    </div>
  <!-- End Content Colums -->

  <!-- Start Student Listing -->
  <table class="table table-striped">
    <thead id="theads1">
      <tr>
        <td>#</td>
        <td><a href="#">Назва &uarr;</a></td>
        <td><a href="#">Староста</a></td>
        <td>Дії</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href="{% url "edit_groups" 21%}">МтМ-21</a></td>
        <td><a href="{% url "students_edit" 1%}">Ячменев Олег</a></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">
                Дія <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "edit_groups" 21%}">Редагування</a></li>
              <li><a href="{% url "journal" %}">Відвідування</a></li>
              <li><a href="{% url "delete groups" 21%}">Видалення</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td><a href="{% url "edit_groups" 22%}">МтМ-22</a></td>
        <td><a href="{% url "students_edit" 2%}">Віталій Подоба</a></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">
                Дія <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "edit_groups" 22%}">Редагування</a></li>
              <li><a href="{% url "journal" %}">Відвідування</a></li>
              <li><a href="{% url "delete groups" 22%}">Видалення</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td>3</td>
        <td><a href="{% url "edit_groups" 23%}">МтМ-23</a></td>
        <td><a href="{% url "students_edit" 3%}">Іванов Андрій</a></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">
                Дія <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "edit_groups" 23%}">Редагування</a></li>
              <li><a href="{% url "journal" %}">Відвідування</a></li>
              <li><a href="{% url "delete groups" 23%}">Видалення</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End Studing Listing -->
  </div>
  <!-- End Colums -->

  <!-- Start Navigation -->
      <nav aria-label="...">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">1</span></a></li>
          <li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">Далі</span></a></li>
      </ul>
  </nav>
  <!-- End Navigation -->
{% endblock content %}

