{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журанл Відвідування{% endblock meta_title %}

{% block content %}
         <!-- Start Listing -->
      <div class="">
        <div class="col-xs-12" id="lustopad">
          <h5 class="col-xs-10"><a href="#">&larr;</a>Листопад 2018<a href="#">&rarr;</a></h5>
        </div>
        <!-- Start table -->
        <table class="table table-bordered table table-striped" >
          <thead>
            <tr id="theads">
              <td>#</td>
              <td>Студент</td>
              <td>Ср 1</td>
              <td>Чт 2</td>
              <td>Пт 3</td>
              <td>Суб 4</td>
              <td>Нед 5</td>
              <td>Пн 6</td>
              <td>Вт 7</td>
              <td>Ср 8</td>
              <td>Чт 9</td>
              <td>Пт 10</td>
              <td>Суб 11</td>
              <td>Нед 12</td>
              <td>Пн 13</td>
              <td>Вт 14</td>
              <td>Ср 15</td>
              <td>Чт 16</td>
              <td>Пт 17</td>
              <td>Суб 18</td>
              <td>Нед 19</td>
              <td>Пн 20</td>
              <td>Вт 21</td>
              <td>Ср 22</td>
              <td>Чт 23</td>
              <td>Пт 24</td>
              <td>Суб 25</td>
              <td>Нед 26</td>
              <td>Пн 27</td>
              <td>Вт 28</td>
              <td>Ср 29</td>
              <td>Чт 30</td>
              <td>Пт 31</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">Подоба Віталій</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">Корост Андрій</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>

            <tr>
              <td>3</td>
              <td><a href="#">Притула Тарас</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Listing -->
{% endblock content %}