<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Облік Відвідування</title>
    <meta name="description" value="Система обліку студентів Навчального Закладу">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="./css3/style.css">
  </head>
  <body>
    <div class="container">
      <!-- Start Header -->
      <div class="row" id="header">
        <div class="col-xs-8">
          <h1>Сервіс Обліку Студентів</h1>
        </div>
        <div class="col-xs-4" id="group-selector">
          <strong>Група:</strong>
          <select>
            <option>Усі студенти</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
        </div>
      </div>
      <!-- End header -->


      <!-- Start Sub-Header -->
      <div class="row" id="sub-header">
        <div class="col-xs-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#">Студенти</a></li>
            <li role="presentation" class="active"><a href="#">Відвідування</a></li>
            <li role="presentation"><a href="#">Групи</a></li>
          </ul>
        </div>
      </div>
      <!-- End Sub-header -->

      <!-- Start Listing -->
      <div class="">
        <div class="col-xs-12" id="lustopad">
          <h5><a href="#">&larr;</a>Листопад 2017<a href="#">&rarr;</a></h5>
        </div>
        <!-- Start table -->
        <table class="table table-bordered table table-striped" >
          <thead>
            <tr id="theads">
              <td>#</td>
              <td>Студент</td>
              <td>Ср 1</td>
              <td>Чт 2</td>
              <td>Пт 3</td>
              <td>Суб 4</td>
              <td>Нед 5</td>
              <td>Пн 6</td>
              <td>Вт 7</td>
              <td>Ср 8</td>
              <td>Чт 9</td>
              <td>Пт 10</td>
              <td>Суб 11</td>
              <td>Нед 12</td>
              <td>Пн 13</td>
              <td>Вт 14</td>
              <td>Ср 15</td>
              <td>Чт 16</td>
              <td>Пт 17</td>
              <td>Суб 18</td>
              <td>Нед 19</td>
              <td>Пн 20</td>
              <td>Вт 21</td>
              <td>Ср 22</td>
              <td>Чт 23</td>
              <td>Пт 24</td>
              <td>Суб 25</td>
              <td>Нед 26</td>
              <td>Пн 27</td>
              <td>Вт 28</td>
              <td>Ср 29</td>
              <td>Чт 30</td>
              <td>Пт 31</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">Подоба Віталій</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">Корост Андрій</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>

            <tr>
              <td>3</td>
              <td><a href="#">Притула Тарас</a></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""checked></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
              <td><input type="checkbox" name="" value=""></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Listing -->

      <!-- Start Footer -->
      <div class="row" id="footer">
        <div class="col-xs-12">
          <hr>
          &copy; 2017 Cервіс Обліку Студентів
        </div>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
