{% extends "base.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "List of exams" %}{% endblock meta_title %}

{% block titile %}{% trans "List of exams" %}{% endblock titile %}

{% block content %}

  <a class="btn btn-primary" href="{% url "exam_add" %}">{% trans "Add Exam" %}</a>

  <table class="table table-striped">
        <thead>
            <tr>
                <th><a href="#">{% trans "Date and time of the event" %}</a></th>
                <th><a href="#">{% trans "Title of subject" %}</a></th>
                <th><a href="#">{% trans "Teacher" %}</a></th>
                <th><a href="#">{% trans "Group" %}</a></th>
                <th>{% trans "Actions" %}</th>
        </thead>
    <tbody>
    {% for exam in exams %}
    <tr>
        <td>{{ exam.date_and_time }}</td>
        <td><a href="#">{{ exam.subject }}</a></td>
        <td><a>{{ exam.teacher }}</a></td>
        <td><a href="#">{{ exam.exam_group }}</a></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">
                {% trans "Action" %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "edit_exam" exam.id %}">{% trans "Edit" %}</a></li>
              <li><a href="{% url "delete_exam" exam.id %}">{% trans "Delete" %}</a></li>
            </ul>
          </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}