{% extends 'base.html' %}

{% load static from staticfiles %}

{% block meta_title %}Додати Іспит{% endblock meta_title %}

{% block titile %}Додати Іспит{% endblock titile %}

{% block content %}

    <form action="." method="post"
          enctype="multipart/form-data"
            role="form" class="form-horizontal">
    {% csrf_token %}

        <div class="form-group">
            <label for="date_and_time" class="col-sm-2 control-label">Дата і час*</label>

            <div class="col-sm-10">
                <input type="text" value="{{ request.POST.date_and_time }}"
                   name="date_and_time" id="date_and_time"
                   class="form-control"
                  placeholder="1983-10-10 21:30:00">
                <span class="error">{{ errors.date_and_time }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Назва*</label>

            <div class="col-sm-10">
                <input type="text" value=""
                   name="subject" id="subject"
                   class="form-control"
                  placeholder="Введіть назву іспиту">
                <span class="error">{{ errors.subject }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="teacher" class="col-sm-2 control-label">Викладач*</label>

            <div class="col-sm-10">
                <input type="text" value=""
                       name="teacher" id="teacher"
                       class="form-control"
                      placeholder="Введіть назву іспиту">
                <span class="error">{{ errors.teacher }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="exam_group" class="col-sm-2 control-label">Група*</label>
            <div class="col-sm-10">
                <select name="exam_group" id="exam_group"
                  class="form-control">
                <option value="">Виберіть групу</option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ errors.student_group }}</span>
            </div>
        </div>

        <div class="form-group {% if errors.notes %}has-error{% endif %}">
            <label for="notes" class="col-sm-2 control-label">Додаткові Нотатки</label>
            <div class="col-sm-10">
                <textarea name="notes"
                          id="notes"
                          class="form-control"
                          placeholder="Тут можна написати про себе і свої інтереси"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label"></label>
            <div>
                <input type="submit" value="Додати"
                       name="add_button" class="btn btn-primary">

                <button type="submit" name="cancel_button"
                        class="btn btn-link">Скасувати</button>
            </div>
        </div>
    </form>

{% endblock content %}