{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block titile %}Групи{% endblock titile %}

{% block content %}
  <!-- Start Content Columns -->
      <a class="btn btn-primary" href="{% url "add_groups" %}">Додати Групу</a>
  <!-- End Content Columns -->

  <!-- Start Student Listing -->
  <table class="table table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead id="theads_groups">
      <tr>
        <td>#</td>
        <td>
            <a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}
            &amp;reverse=1{% endif %}">
                Назва
                {% if order_by == 'title' and reverse != '1' %}&uarr;
                {% elif order_by == 'title' and reverse == '1' %}&darr;
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}
             &amp;reverse=1{% endif %}">
                Староста
                {% if order_by == 'leader' and reverse != '1' %}&uarr;
                {% elif order_by == 'leader' and reverse == '1' %}&darr;
                {% endif %}
            </a>
        </td>
        <td>Дії</td>
      </tr>
    </thead>
  {% endwith %}
    <tbody>
    {% for group in groups %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url "edit_groups" 21%}">{{ group.title }}</a></td>
        <td><a href="{% url "students_edit" 1%}">{{ group.leader }}</a></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown">
                Дія <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "edit_groups" group.id %}">Редагування</a></li>
              <li><a href="{% url "journal" %}">Відвідування</a></li>
              <li><a href="{% url "delete groups" group.id %}">Видалення</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- End Groups Listing -->
  <!-- End Columns -->

  <!-- Start Navigation -->
    {% if groups.has_other_pages %}
      <nav aria-label="...">
        <ul class="pagination">
          <li><a href="{% url "groups" %}?page=1">&laquo;</a></li>
            {% for p in groups.paginator.page_range %}
                <li {% if groups.number == p %}class="active"{% endif %}>
                    <a href="{% url "groups" %}?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
          <li><a href="{% url "groups" %}?page={{ groups.paginator.num_pages }}">Далі</a></li>
      </ul>
    </nav>
    {% endif %}
  <!-- End Navigation -->
{% endblock content %}

